[Desktop Entry]
Name=Pomodoro
Name[ca]=Pomodoro
Name[es]=Pomodoro
Name[gl]=Pomodoro
Comment=Managing time with the Pomodoro Technique.
Comment[ca]=Administració del temps amb la Tècnica Pomodoro.
Comment[es]=Administración del tiempo con la Técnica Pomodoro.
Comment[gl]=Administración do tempo coa Tecnica Pomodoro.
Exec=minino-pomodoro
Icon=pomodoro
Terminal=0
Type=Application
Categories=Minino;
